*{
    padding: 0;
    margin: 0;
    border: border-box;
}

.main{
    width: 100vw;
    height: 100vh; 
    text-align: center;
    margin: 10px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(1,174,247,1) 53%, rgba(7,16,176,1) 100%);
}
h1{
 padding: 20px;
}

.scoreboard h2{
 margin: 10px;
 
 
}

.scoreboard h3{
    margin: 10px;
    font-size: 30px;
    
}
.scoreboard p {
    font-size: 25px;
}

.player-choice{
    margin: 10px;
    
}
.player-choice button {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .player-choice button:active {
    scale: 0.92;
  }
  
  .player-choice button:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }


.roundScore{
    margin: 10px;
    font-size: 30px;
    
}

.winner{
    margin: 10px;
    font-size: 15px;
}